*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

header{
  background-color: #fdbb40;
  height: 100px;
  line-height: 100px;
}

header::after{
  clear: both;
  display: table;
  content: '';
}

#hamburger{
  height: 200px;
  width: 200px;
}

h1{
  font-weight: bold;
}

#nome{
  height: 50px;
  margin: 20px 0px;
  font-size: 20px;
  border: none;
}
body{
  height: 100vh;
}

.container{
  margin: auto;
  width: 1000px;
}
.container-padding{
  padding-left: 15px;
}

.ingredienti{
  margin-top: 20px;
  padding-right: 40%;
  padding-left: 15px;
}
.ingredienti>*{
  margin: 10px 0px;
}

.cibo>img{
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.container-flex{
  display: flex;
  justify-content:space-between;
}

button{
  height: 40px;
  width: 120px;
  background-color: orange;
  border-radius: 5px;
  border: none;

}
.flex{
  display: flex;
  justify-content: center;
}

#coupon{
  border:none;
  background-color: #ffead1;
  width: 485px;
  height: 20px;
  margin-bottom: 10px;
}

span{
  color: red;
}

footer{
  background-color: red;
  height: 100px;
  color: white;
  padding: 30px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
